<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a class="icon is-medium" href="https://github.com/ljleppan">
            <img src="{{ site.url }}/assets/github.png" alt="GitHub">
        </a>
        <a class="icon is-medium" href="https://fi.linkedin.com/pub/leo-lepp%C3%A4nen/b5/a65/494">
            <img src="{{ site.url }}/assets/linkedin.png" alt="LinkedIn">
        </a>
        <a class="icon is-medium" href="https://tuhat.helsinki.fi/portal/en/person/ljleppan">
          <img src="{{ site.url }}/assets/univhelsinki.png" alt="Univ. Helsinki">
        </a>
      </p>
    </div>
  </div>
</footer>
